
.container-test {
    width:100vw;
    height: 100vh;
    animation: bckgrdAnimate 10s  infinite;    
    background-color:#fff;
    
 }
 
 @keyframes bckgrdAnimate 
 {
   0% 
   {
    background-color:#fff;
   }
   50% {
    background-color:#000;
   }
  
   100%
   {
    background-color:#fff;
   }  
 }