.gallery-container {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.gallery-container > .control-button {
    flex: 1;
    border: 1px solid black;
}

.image-container 
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 700px;
    overflow: hidden;
}

.image-container > img
{
    display: flex;
    flex: 1;
    width:100%;
}
.carousel-container 
{
    display: flex;
    position: absolute;
    width: 78%;
    left: 11%;    
    bottom:13%;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row;    
    align-content: space-between;
    overflow: hidden;
}
.carousel-item {
    flex: 1; 
    padding: 5px;
    overflow: hidden;
}

.carousel-item.highlighted {
    flex: 1; 
    padding: 5px;
    overflow: hidden;
    background: rgba(212, 212, 212, 0.699);
}

.carousel-item > img {
    max-width: 350px;    
}