.gallery-container {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.gallery-container > .control-button {
    flex: 1;
    border: 1px solid black;
}

.image-container 
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 700px;
    overflow: hidden;
}

.image-container > img
{
    display: flex;
    flex: 1;
    width:100%;
}